.gradient-custom-3 {
    /* fallback for old browsers */
    background: #84fab0;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
  }
  
  .gradient-custom-4 {
    /* fallback for old browsers */
    background: #84fab0;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
  }

  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #42442e;
  }

  nav a, .nav-logout p, .nav-logo{
    text-decoration: none;
    color: #9caaad;
    font-weight: 700;
    font-size: 20px;
    font-style: italic;
  }

  nav a:hover,  .nav-logout p:hover, .nav-logo:hover{
    cursor: pointer;
    color: #fff;
  }

  nav .nav-container a.active{
    color: #fff !important;
  }

  .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-logo {
    margin-right: 20px;
    font-size: 25px;
    font-style: normal;
  }

  .nav-links a {
    margin-right: 20px;
  }

  .nav-logout p{
    margin: 0;
  }

  .content{
    padding: 20px;
  }