.gradient-custom-3 {
  /* fallback for old browsers */
  background: #84fab0;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
}

.gradient-custom-4 {
  /* fallback for old browsers */
  background: #84fab0;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #42442e;
}

nav a, .nav-logout p, .nav-logo, form button{
  text-decoration: none;
  color: #9caaad;
  font-weight: 700;
  font-size: 20px;
  font-style: italic;
}

nav a:hover,  .nav-logout p:hover, .nav-logo:hover, form button:hover{
  cursor: pointer;
  color: #fff;
}

nav .nav-container a.active{
  color: #fff !important;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  margin-right: 20px;
  font-size: 25px;
  font-style: normal;
}

.nav-links a {
  margin-right: 20px;
}

.nav-logout p{
  margin: 0;
}

.content{
  padding: 20px;
}

form.settings-form {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
}

form.settings-form input:not(:last-child) {
  margin-bottom: 10px;
}

form.settings-form input[type="text"],form input[type="password"] {
  width: 300px;
  border-radius: 4px;
  border: 1px solid;
  height: 40px;
  padding: 10px;
  outline: none;
}

form.settings-form > button {
  width: 100px;
  height: 45px;
  border: none;
  border-radius: 5px;
  background: #42442e;
  font-weight: 400;
}

form.settings-form > div {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-direction: column;
  margin: 20px 0;
}

form.settings-form > div > label {
  margin-bottom: 13px;
  font-size: 20px;
  color: #42442e;
  font-style: italic;
  font-weight: 900;
}

p.user-name {
  margin: 0;
  font-size: 16px;
  font-weight: 900;
  font-style: italic;
  color: #42442e;
}

input::placeholder {
  font-style: italic;
}

.profile-info{
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  /* border: 1px solid #42442e; */
  /* border-radius: 4px; */
  padding: 10px;

}

.profile-info img{
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #42442e;
}

.profile-image {
  display: flex;
  flex-direction: column;
}

.profile-image div > button:first-child{
  margin-right: 20px;
}

/* Style the input wrapper */
.custom-file-input {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 100%;
  max-width: 200px;
}

.custom-file-input input[type="file"] {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.custom-file-input .custom-file-label {
  display: block;
  background-color: #42442e;
  color: #9caaad;
  padding: 5px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 15px;
  font-style: italic;
}

.custom-file-input .custom-file-label:hover {
  background-color: #42442e;
}

.custom-file-input .file-name {
  margin-top: 5px;
  font-size: 14px;
  color: #42442e;
  font-style: italic;
}

.upload-photo {
  display: flex;
  align-items: baseline;
  flex-direction: column;
}

.upload-photo img{
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 2px solid #42442e;
}

.show-uploaded-imag {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  margin-bottom: 20px;
}

.show-uploaded-imag > div:first-child {
  margin-bottom: 9px;
}

.show-uploaded-imag > div > button {
  width: 95px;
  border: none;
  color: #9caaad;
  background: #42442e;
  font-style: italic;
  border-radius: 4px;
}

.show-uploaded-imag > div > button:nth-child(2) {
  background: #630b0b;
  margin-left: 10px;
}